<?php
defined('BASEPATH') OR exit('No direct script access allowed');
?><!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <style type="text/css">
  </style>
</head>
<body>
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Cadastro de solicitação</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Nome da parte">Nome da parte</label>  
  <div class="col-md-4">
  <input id="Nome da parte" name="Nome da parte" type="text" placeholder="Nome do solicitante" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="responsavel">Responsavel</label>  
  <div class="col-md-4">
  <input id="responsavel" name="responsavel" type="text" placeholder="Responsavel" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="cpf">CPF</label>  
  <div class="col-md-4">
  <input id="cpf" name="cpf" type="text" placeholder="CPF do solicitante" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="cep">CEP</label>  
  <div class="col-md-4">
  <input id="cep" name="cep" type="text" placeholder="CEP" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="rua">rua</label>  
  <div class="col-md-4">
  <input id="rua" name="rua" type="text" placeholder="rua" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="bairro">bairro</label>  
  <div class="col-md-4">
  <input id="bairro" name="bairro" type="text" placeholder="bairro" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="cidade">cidade</label>  
  <div class="col-md-4">
  <input id="cidade" name="cidade" type="text" placeholder="cidade" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="telefone">Telefone</label>  
  <div class="col-md-4">
  <input id="telefone" name="telefone" type="text" placeholder="Telefone" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="data_solicitacao">data de solicitacao</label>  
  <div class="col-md-4">
  <input id="data_solicitacao" name="data_solicitacao" type="text" placeholder="data da solicitação" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="solicitacao">Formuario solicitado</label>
  <div class="col-md-4">
    <select id="solicitacao" name="solicitacao" class="form-control">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="cancelar"></label>
  <div class="col-md-8">
    <button id="cancelar" name="cancelar" class="btn btn-danger">Cancelar</button>
    <button id="salvar" name="salvar" class="btn btn-success">Salvar</button>
  </div>
</div>

</fieldset>
</form>


</body>
</html>